<div class="container mt-5"> 
  <div>
    <div class="row">
      <div class="col-5">
        <form #formInsert='ngForm' (submit)="AddPerson(formInsert.value)">
          <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" ngModel [(ngModel)]="NAME" name="NAME" required>
          </div>
          <div class="form-group">
            <label>Age</label>
            <input class="form-control" type="number" ngModel #AGE='ngModel' name="AGE" required>
          </div>
          <div class="form-group">
            <label>Height</label>
            <input class="form-control" type="number" ngModel [(ngModel)]="HEIGHT" name="HEIGHT" required>
          </div>
          <div class="form-group">
            <label>Weight</label>
            <input class="form-control" type="number" ngModel [(ngModel)]="WEIGHT" name="WEIGHT" required>
          </div>
          <button type="submit" [disabled]="formInsert.invalid" class="btn btn-success" aria-required="true">INSERT</button>&nbsp;
          <button type="reset" class="btn btn-warning" (click)=ResetForm(formInsert)>RESET</button>&nbsp;
          <input type="button" [disabled]="!HEIGHT || !WEIGHT || !NAME" class="btn btn-primary" value="Calculate BMI" (click)="bmical() == true">
          <br><br>
          <div *ngIf="formInsert.form.invalid" class="cross-validation-error-message">
            <span class="text-danger">All fields are mandatory !</span>
          </div>
        </form>
      </div>
      <div class="col-7">
        <table class="table table-hover table-sm table-success rounded table-borderless">
          <!-- <th scope="col">ID</th> -->
          <th>NAME </th>
          <th>AGE</th>
          <th>HEIGHT</th>
          <th>WEIGHT</th>
          <th></th>
          <tr *ngFor="let item of persons">
            <!-- <td class="text-center">{{ item.id }}</td> -->
            <td>{{ item.NAME }}</td>
            <td>{{ item.AGE }}</td>
            <td>{{ item.HEIGHT }}</td>
            <td>{{ item.WEIGHT }}</td>
            <td><button class="btn" (click)=deletePerson(item.id)><i class="text-danger fas fa-trash-alt"></i></button></td>
            <!-- <td><button class="btn btn-outline-warning">Edit</button></td> -->
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="container">
    <h2 class="">
      <pre class="text-info">
      {{RESULT}}
      </pre>
    </h2>
    <h3 class="display-4" [ngClass]="statusColor">{{STATUS}}</h3>
  </div>
</div>